A86ANU_1008/A86ANU_kurzusfelvetel.dtd

<!ELEMENT A86ANU_kurzusfelvetel (hallgato, kurzusok)>
<!ATTLIST A86ANU_kurzusfelvetel tanév CDATA #REQUIRED>
<!ATTLIST A86ANU_kurzusfelvetel egyetem CDATA #REQUIRED>

<!ELEMENT hallgato (hnev, szulev, szak)>
<!ELEMENT hnev (#PCDATA)>
<!ELEMENT szulev (#PCDATA)>
<!ELEMENT szak (#PCDATA)>
<!ATTLIST szak evf CDATA #REQUIRED>

<!ELEMENT kurzusok (kurzus*)>

<!ELEMENT kurzus (kurzusnev, kredit, hely, idopont+, (oktato | oraado)?)>
<!ATTLIST kurzus id ID #REQUIRED>
<!ATTLIST kurzus jovahagyas (igen | nem) "nem">
<!ATTLIST kurzus nyelv (magyar | angol) #IMPLIED>

<!ELEMENT kurzusnev (#PCDATA)>
<!ELEMENT kredit (#PCDATA)>
<!ELEMENT hely (#PCDATA)>
<!ELEMENT idopont (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT oraado (#PCDATA)>