A86ANU_1008/A86ANU_orarend2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- Egyszerű típusok -->
  <xs:simpleType name="OraIdType">
    <xs:restriction base="xs:string">
      <xs:pattern value="o\d{2,}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TipusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="elmelet"/>
      <xs:enumeration value="gyakorlat"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NapType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Hétfő"/>
      <xs:enumeration value="Kedd"/>
      <xs:enumeration value="Szerda"/>
      <xs:enumeration value="Csütörtök"/>
      <xs:enumeration value="Péntek"/>
      <xs:enumeration value="Szombat"/>
      <xs:enumeration value="Vasárnap"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="HourType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="23"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Összetett típusok -->
  <xs:complexType name="IdopontType">
    <xs:sequence>
      <xs:element name="nap" type="NapType"/>
      <xs:element name="tol" type="HourType"/>
      <xs:element name="ig" type="HourType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OraType">
    <xs:sequence>
      <xs:element name="targy" type="xs:string"/>
      <xs:element name="idopont" type="IdopontType"/>
      <xs:element name="helyszin" type="xs:string"/>
      <xs:element name="oktato" type="xs:string"/>
      <xs:element name="szak" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="OraIdType" use="required"/>
    <xs:attribute name="tipus" type="TipusType" use="required"/>
  </xs:complexType>

  <!-- Gyökérelem -->
  <xs:element name="A86ANU_orarend">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ora" type="OraType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <!-- Egyediség az @id attribútumokra -->
    <xs:key name="oraIdKey">
      <xs:selector xpath="ora"/>
      <xs:field xpath="@id"/>
    </xs:key>
  </xs:element>

</xs:schema>
