A86ANU_1112/studentA86ANU.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"      elementFormDefault="qualified">

<xs:element name="class">
    <xs:complexType>
    <xs:sequence>
        <xs:element name="student" maxOccurs="unbounded">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="keresztnev" type="xs:string"/>
            <xs:element name="vezeteknev" type="xs:string"/>
            <xs:element name="becenev" type="xs:string"/>
            <xs:element name="kor" type="xs:nonNegativeInteger"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
        </xs:complexType>
        </xs:element>
    </xs:sequence>
    </xs:complexType>

    <xs:unique name="uniqueStudentId">
    <xs:selector xpath="student"/>
    <xs:field xpath="@id"/>
    </xs:unique>
</xs:element>
</xs:schema>
